body{
    font-family: "Verdana", Geneva, sans-serif;
    margin: 0;
    max-width: 100%;
}

.amp {
    font-family: Baskerville, "Goudy Old Style", Garamond, Palatino, serif; 
    font-style: italic; }

h1{
    font-family: Ampersand, Helvetica, sans-serif; 
    font-size: 180%;
}
.flex-box{
    display:block;
}
header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}
#header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background:#849CA4;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
}
ul{
    margin: 0;
    padding:0;
}
#header > nav{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-content:flex-start;
        -ms-flex-line-pack:start;
            align-content:flex-start;
    margin-bottom:5%;
}
#header > p{
    color:#FFFFFF;
}
#header > p > em{
    font-weight:bold;
}

main{
    padding-left:5%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    max-width: 62%;
    margin-left:10%;
}
ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    cursor:pointer;    
}
li > a{
    text-decoration: none;
    color: #FFFFFF;
    cursor:pointer;    
}
svg {
    max-width: 12px;
    max-height: 12px;
    fill:#FFFFFF;
}

.photo-album-images{
    margin-left: -5%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
}
#photo-albums > figure{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
#password > form > fieldset{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width:200px;
}
#password > form > fieldset > label{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;
    margin-top:10px;
}
#password > form > fieldset > label > input{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:170px;
}
#password > form > fieldset > button{
    margin-top:20px;
    border:none;
    background:#849CA4;
    color:#FFFFFF;
    height:30px;
    width:170px;
}
footer{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    background-color:#697C83;
}
footer > address{
    color:#FFFFFF;
}
footer > ul{
    margin-left:35%
}
article{
    max-width:700px;
    background-color:  #84A49C;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 0.3em solid #4F625D;
        border-right: 0.3em solid #4F625D;

}
img{
    max-width:300px;
    max-height:300px;
}
li > a:hover{
    background-color: #000000;
    cursor:pointer;    
}

.current-profile-picture > img{
    border-radius: 100px;
    width: 100%;
}

.filter-effects > figure {
        width: 20%;              
	-webkit-box-flex: 20%;        
	-webkit-flex: 20%;       
	-ms-flex: 20%;             
	flex: 20%;              
        cursor:pointer;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	margin: auto;
	text-align: center;
}

.filter-effects {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
}

.filter-effects header {
	-webkit-box-flex: 100%;      
	-moz-box-flex: 100%;         
	width: 100%;            
	-webkit-flex: 100%;       
	-ms-flex: 100%;          
	-webkit-box-flex: 100%;          
	        flex: 100%;                  
}

.filter-effects > figure:hover{
    box-shadow: 0 0 0 999px rgba(0,0,0,.8);

}

.filter-effects > figure > img {
    width: 100%;
}

#filters:target{
    border-radius: 100px;

}
#profile-picture > header > h2{
    text-align: center;
}
#profile-picture a{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}
h3{
    text-align:center;
}
@media all and (min-width: 800px) {
    .flex-box{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;    
    }
    footer{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    footer > ul{
        margin-right:10%;
        margin-left:5%;
    }
    main{
        margin-left: 0%;
    }
    #profile-picture > header > h2, #profile-picture h3{
        text-align: left;
        margin-left:2em;
    }
    #profile-picture a{
        -webkit-box-pack:start;
        -webkit-justify-content:flex-start;
            -ms-flex-pack:start;
                justify-content:flex-start;
        margin-left:2.5em;
    }
}

@media all and (min-width: 1180px) {
    .photo-album-images{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
    }
}