body{
    font-family: "Verdana", Geneva, sans-serif;
    margin: 0;
    max-width: 100%;
}

.amp {
    font-family: Baskerville, "Goudy Old Style", Garamond, Palatino, serif; 
    font-style: italic; }

h1{
    font-family: Ampersand, Helvetica, sans-serif; 
    font-size: 180%;
}
.flex-box{
    display:block;
}
header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
}
#header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background:#849CA4;
    -webkit-box-align:center;
    -webkit-align-items:center;
        -ms-flex-align:center;
            align-items:center;
}
ul{
    margin: 0;
    padding:0;
}
#header > nav{
    display:flex;
    align-content:flex-start;
    margin-bottom:5%;
}
#header > p{
    color:#FFFFFF;
}
#header > p > em{
    font-weight:bold;
}

main{
    padding-left:5%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    max-width: 62%;
    margin-left:10%;
}
ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    cursor:pointer;    
}
li > a{
    text-decoration: none;
    color: #FFFFFF;
    cursor:pointer;    
}
svg {
    max-width: 12px;
    max-height: 12px;
    fill:#FFFFFF;
}

.photo-album-images{
    margin-left: -5%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    flex-direction:column;
}
#photo-albums > figure{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
#password > form > fieldset{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width:200px;
}
#password > form > fieldset > label{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;
    margin-top:10px;
}
#password > form > fieldset > label > input{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:170px;
}
#password > form > fieldset > button{
    margin-top:20px;
    border:none;
    background:#849CA4;
    color:#FFFFFF;
    height:30px;
    width:170px;
}
footer{
    display:flex;
    flex-direction:column;
    background-color:#697C83;
}
footer > address{
    color:#FFFFFF;
}
footer > ul{
    margin-left:35%
}
article{
    max-width:700px;
}
img{
    max-width:300px;
    max-height:300px;
}
li > a:hover{
    background-color: #000000;
    cursor:pointer;    
}
#profile-picture > section > figure{
    max-width: 300px;
    width: min-content;
}
#profile-picture > section > figure:hover{
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
    cursor:pointer;    
}
#profile-picture > section > figure > img{
    max-width: inherit;
    max-width: 85px;
}
#profile-picture > section > figure > img:target {
    border: 2px solid #D4D4D4;
    background-color: #e5eecc;
}
#profile-picture > section > header{
    flex:none;
}

#filters{
    display:none;
}
#filters:target{
    display:flex;
    animation: highlight 1s ease;
    transform: translateX(20px);
    box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.5);
    width: 165px;
    display:flex;
    flex-direction:column;
    margin: auto;
}

h3{
    text-align:center;
}
@media all and (min-width: 800px) {
    .flex-box{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;    
    }
    footer{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        flex-direction:row;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    footer > ul{
        margin-right:10%;
        margin-left:5%;
    }
    main{
        margin-left: 0%;
    }
}

@media all and (min-width: 1050px) {
    .photo-album-images{
        flex-direction:row;
    }
    #profile-picture > section{
        flex-direction:row;
    }
}