body{
    font-family: "Verdana", Geneva, sans-serif;
    margin: 0;
    max-width: 100%;
    background: hsl(20, 40%, 90%);
    background-image: -webkit-linear-gradient(0deg, #84a49c 11px, transparent 0), -webkit-linear-gradient(0deg, rgb(68, 187, 160) 23px, transparent 0), -webkit-linear-gradient(0deg, rgb(188, 188, 188) 41px, transparent 0);
    background-image: linear-gradient(90deg, #84a49c 11px, transparent 0),          linear-gradient(90deg, rgb(68, 187, 160) 23px, transparent 0),          linear-gradient(90deg, rgb(188, 188, 188) 41px, transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
}

.amp {
    font-family: Baskerville, "Goudy Old Style", Garamond, Palatino, serif; 
    font-style: italic;
}

h1{
    font-family: Ampersand, Helvetica, sans-serif; 
    font-size: 180%;
}
.flex-box{
    display:block;
}
img{
    width: 100%;
}
header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}
header > figure{
    border-bottom: 0.3em solid #4F625D;
    border-right: 0.3em solid #4F625D;
    height:200px;
}
#header{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background:#849CA4;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    border-bottom: 0.3em solid #4F625D;
}
ul{
    margin: 0;
    padding:0;
}
#header > nav{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-content:flex-start;
        -ms-flex-line-pack:start;
            align-content:flex-start;
    margin-bottom:5%;
}
#header > p{
    color:#FFFFFF;
}
#header > p > em{
    font-weight:bold;
}

main{
    padding-left:5%;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    max-width: 62%;
    margin-left:10%;
    width: 100%;
}
ul{
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: #FFFFFF;
    cursor:pointer;    
}
li > a{
    text-decoration: none;
    color: #FFFFFF;
    cursor:pointer;    
}
svg {
    max-width: 12px;
    max-height: 12px;
    fill:#FFFFFF;
}

.photo-album-images{
    margin-left: -5%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
}
#photo-albums > figure{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
#password > form > fieldset{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width:200px;
}
#password > form > fieldset > label{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;
    margin-top:10px;
}
#password > form > fieldset > label > input{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    width:170px;
}
#password > form > fieldset > button{
    margin-top:20px;
    border:none;
    background:#849CA4;
    color:#FFFFFF;
    height:30px;
    width:170px;
}
footer{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    background-color:#697C83;
    border-top: 0.3em solid #4F625D;
}
footer > address{
    color:#FFFFFF;
}
footer pre{
    text-align:center;
}
footer > ul{
    margin-left:35%;
    margin-top:0.5em;
    margin-bottom:1em;
}
article{
    max-width:700px;
    background-color: #84A49C;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 0.3em solid #4F625D;
    border-right: 0.3em solid #4F625D;
}
img{
    max-width:300px;
    max-height:300px;
}
a{
    text-decoration: none;
    color:#FFFFFF
}
li > a{
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
}
li > a:hover{
    opacity:0.5;
    filter: alpha(opacity=50);
    cursor:pointer;    
}

.current-profile-picture > img{
    border-radius: 100px;
    width: 100%;
}

.filter-effects > figure {
    width: 20%;
    -webkit-box-flex: 20%;
    -webkit-flex: 20%;
    -ms-flex: 20%;
    flex: 20%;
    cursor:pointer;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-align: center;
}

.filter-effects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;

}

.filter-effects header {
    -webkit-box-flex: 100%;      
    -moz-box-flex: 100%;         
    width: 100%;            
    -webkit-flex: 100%;       
    -ms-flex: 100%;          
    -webkit-box-flex: 100%;          
    flex: 100%;                  
}


.filter-effects > figure:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);

}

.filter-effects > figure > img {
    width: 100%;
}

#filters:target{
    border-radius: 100px;

}
#profile-picture > header > h2{
    text-align: center;
}
#profile-picture a{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}
h3{
    text-align:center;
}
#profile-picture-overlay figure img {
    width: 50%;
    border-radius: 50%;
    max-width: 500px;
    min-width: 200px;
    max-height:200px;
}
#profile-picture-overlay a{
    text-decoration: none;
    font-weight:bold;
    color:#FFFFFF;
    padding:1em;
}
#profile-picture-overlay > figure{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#profile-picture-overlay {
    display: none;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    position: fixed;
    box-shadow:0 0 0 50vmax rgba(0,0,0,.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #84A49C;
    z-index: 20;
    margin: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: url(images/cursor.cur), auto;
}

#profile-picture-overlay:target {
    display: -webkit-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;            
}
#find-friends{
    display:none;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    position: fixed;
    box-shadow:0 0 0 50vmax rgba(0,0,0,.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: #84A49C;
    z-index: 20;
    margin: auto;
    -webkit-justify-content:space-around;
        -ms-flex-pack:distribute;
            justify-content:space-around;
    height: 100%;
}
#find-friends header{
    padding: 2em;
    margin-right:0.5em;
}
#find-friends > figure{
    margin: auto;
    -webkit-box-flex:15%;
    -webkit-flex:15%;
        -ms-flex:15%;
            flex:15%;
    cursor:pointer;
}
#find-friends:target{
    display: -webkit-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;     
    display: flex;  
}
#profile-picture > a{
    border: 10px solid transparent; 
    background-clip: padding-box;
}


input[type="checkbox"] + label:before {
    content: '\a0'; 
    display: inline-block; 
    vertical-align: .2em; 
    width: .8em; 
    height: .8em; 
    margin-right: .2em; 
    border-radius: .2em; 
    background: #555; 
    text-indent: .15em; 
    line-height: .65; 
}
input[type="checkbox"]:checked + label:before {
    content: '\2713'; 
    background: #FFFFFF; 
}
input[type="checkbox"] {
    position: absolute; 
    clip: rect(0,0,0,0); 
}
input[type="checkbox"]:focus + label:before {
    box-shadow: 0 0 .1em .1em #FFFFFF; 
}
input[type="checkbox"]:disabled + label:before {
    background: gray; 
    box-shadow: none; 
    color: #FFFFFF; 
}
input[type="checkbox"]:focus + label:before {
    box-shadow: 0 0 .1em .1em #58a; 
}

input[type="checkbox"]:disabled + label:before {
    background:gray; 
    box-shadow: none; 
    color: #555; 
}

@-webkit-keyframes loader {
    to {
             background-position: -800px 0; 
    } 
}

@keyframes loader {
    to {
             background-position: -800px 0; 
    } 
}
.loader {
    width: 100px;
    height: 100px;
    background: url(images/loader.png) 0 0;
    -webkit-animation: loader 2s infinite steps(8);
            animation: loader 2s infinite steps(8);
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden; 
    margin:auto;
}
@media all and (min-width:380px){
    #find-friends{
        height:50%;
    }
}
@media all and (min-width:600px){
    #profile-picture-overlay {
        width:50%; 
    }
}
@media all and (min-width: 800px) {
    footer{
        border-top: none;
    }
    #header{
        border-bottom: none;
    }
    .flex-box{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;    
    }
    footer{
        display:-webkit-box;
        display:-webkit-flex;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    footer > ul{
        margin-right:10%;
        margin-left:5%;
    }
    main{
        margin-left: 0%;
    }
    #profile-picture > header > h2, #profile-picture h3{
        text-align: left;
        margin-left:2em;
    }
    #profile-picture a{
        -webkit-box-pack:start;
        -webkit-justify-content:flex-start;
            -ms-flex-pack:start;
                justify-content:flex-start;
        margin-left:2.5em;
    }

    #find-friends{
        height:50%;
    }
    .loader{
        margin:0;
    }
    video {
        cursor: none; 
    }

}

@media all and (min-width: 1180px) {
    .photo-album-images{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
    }
}